html {
	background-color: #202124;
	color: #e8eaed;
}

input, .collapse-button {
	background-color: #303134;
	color: #e8eaed;
    border: none;
    cursor: pointer;
}

input:hover, .collapse-button:hover {
    background-color: #171717;
}

input:active, .collapse-button:active {
    background-color: #000000;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-active {
    background-color: #171717 !important;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #e8eaed;
    border-bottom: none;
    border-top: none;
    background-color: #303134;
    cursor: pointer;
}

.autocomplete-items div {
    border-bottom: 1px solid #e8eaed;
}

.autocomplete-items div:hover {
    background-color: #171717;
}

.blurred {
    filter: blur(10px);
    transition: filter 0.25s linear;
}

.blurred:hover {
    filter: blur(0);
}

.collapse-button:after {
    content: '▼';
    margin-left: 5px;
}

.collapse-button-active:after {
    content: "▲";
}

.collapsible {
    display: none;
}